body { 
    background-color:  hsl(148, 38%, 91%); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    font-family: Karla;
}

.wrapper { 
    background-color: white; 
    padding: 25px;
    border-radius: 20px;
    width: 450px;
}

h2 { 
    font-family: "Plus Jakarta Sans", sans-serif;
}

p { 
    color: red;
}

/*name*/
.name { 
    display: flex;
    padding: 10px 0;
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.firstname { 
    padding: 10px 10px 10px 0;
    width: 50%;
}

#firstname { 
    width: 100%; 
    height: 80%;
    border-radius: 5px; 
    border: 1px solid lightgrey; 
}

.lastname {
    padding: 10px 10px 10px 0;
    width: 50%;
}

#lastname { 
    width: 100%; 
    height: 80%;
    border-radius: 5px; 
    border: 1px solid lightgrey; 
}

/*Done*/


.email { 
    padding: calc(1em + 0.5vh) 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#email { 
    width: 100%; 
    height: calc(2em + 0.5vh);
    border-radius: 5px; 
    border: 1px solid lightgrey; 
}

/*query*/ 

.query { 
    padding:  calc(8px + 0.5vh) 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.query-options { 
    height: 100%;
    display: flex;
    width: 100%;
}

.support-one { 
    padding: 10px 0 10px 10px;
    border: 1px solid lightgrey; 
    border-radius: 5px;
    width: 50%;
    margin: 5px;
}

.support-two { 
    padding: 10px 0 10px 10px;
    border: 1px solid lightgrey; 
    border-radius: 5px;
    width: 50%;
    margin: 5px;
}

/*done*/

/*message*/

#message { 
    width: 100%; 
    height: 100px;
    border: 1px solid lightgrey; 
    border-radius: 5px;
    overflow-y: scroll; 
    overflow-x: hidden; 
}

.message { 
    padding: 15px 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*Done*/ 

/*consent*/ 
.consent { 
    padding: 10px 0; 
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*Done*/

/*button*/

button { 
    padding: 10px; 
    width: 100%; 
    border-radius: 20px;
    border: none; 
    background-color:   hsl(169, 82%, 27%);
    font-size: 16px;
    font-family: Karla; 
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*Done*/

/*Hover fields*/

#firstname:hover { 
    border-color: hsl(169, 82%, 27%);
}

#lastname:hover { 
    border-color: hsl(169, 82%, 27%);
}

.support-one:hover { 
    border-color: hsl(169, 82%, 27%);
}

.support-two:hover { 
    border-color: hsl(169, 82%, 27%);
}

button:hover { 
    background-color: hsl(169, 81%, 12%);
}

/*done*/ 

/*Message box*/

.messagebox { 
    display: none;
    position: absolute;
    background-color:  hsl(189, 56%, 16%); 
    padding: 10px;
    border-radius: 15px;
    top: 1%;
    animation: slideDown 1s ease-out forwards;
}

.mbtext { 
    color: white;
    font-size: 12px;
    opacity: 0.8;
} 

h4 { 
    color: white; 
    font-size: 16px;
}

@keyframes slideDown { 
    from { 
        transform: translateY(-100%);
        opacity: 0;
    }

    to { 
        transform: translateY(20%);
        opacity: 1;
    }
}